<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    <title>Object Detection</title>
</head>
<body>
    <header>
        <h1>Object Detection</h1>
    </header>
    <main>
        <section class="video-feed">
            <!-- Video element for webcam feed -->
            <video id="video-element" autoplay></video>
            
            <!-- Canvas element for drawing bounding boxes -->
            <canvas id="detection-canvas"></canvas>
        </section>
    </main>
</body>
</html>
